{% extends "base.html" %} {% block title %} Survey Part 1 {% endblock %} {% block content %}
<br>
<h2>Radio Buttons</h2>

<p>Choose your favorite number:</p>

<form>
     <input 
     type="radio" 
     id= "q1" 
     name="fav_num" 
     value= "1">
    <label for= "1" >1</label>
    <br>
     <input 
     type="radio" 
     id="q1" 
     name="fav_num" 
     value= "2">
    <label for="2"> 2 </label>
    <br>
     <input 
     type="radio" 
     id="q1" 
     name="fav_num" 
     value="3">
    <label for="3">3</label>
</form>

<br>

<a href="/surveypt2" class="next">Next &raquo;</a>
<!-- <button type="submit" class="btn btn-primary"> Next </button></p> -->


{% endblock %}